
.home-container {
    height:100vh;
    width: 100vw;
		align-items: center;
		background-image: url("../../images/main-img2.jpg");
		display: flex;
		padding: 6em 0 2em 0 ;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-bottom: 0 !important;
		cursor: default;
    flex-direction: row;
    @media @phone {
      flex-direction: column;
    }
    .box {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
    .divider {
      min-height: 100%;
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
    
      img {
        margin-top: 5vh;
      }

      .line {
        flex-grow: 1;
        background-color: #FDFDFD;
        width: 7px;
        margin-top: 50px;
        margin-bottom: 100px;
      }
    }
  }

 .text-content {
    color: white;
    font-size:2rem;
  }


h2 {
  font-size: 60px;
  font-weight: bold;
  margin: 0 0 25px;
}
 

.our-team{ 
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  height:100vh;
  width: 100vw;
  display: flex;
}


.our-team-section{
  width: 80%;
  height: 90%;
  background-color: lightgrey;
  margin: 0 0 0 200px;
}

hr {
  border: 0;
  border-bottom: solid 1px rgba(212, 212, 255, 0.1);
  margin: 2em 0;
}

  hr.major {
    margin: 3em 0;
  }
