// Parametric Mixin
.btn(@bgcolor, @font-color, @br, @fs) {
  color: @font-color;
  background-color: @bgcolor;
  border: @br;
  font-size: @fs;
  width: 310px;
  height: 65px;
  margin: 20px auto 12px;
  font-weight: bold;
  font-family: @playfair;
  
  @media @phone {
    color: @Dimgray;
    border: 3px solid white;
  }
  &:hover {
    background-color: white;
    color: #ff6347;
  }
}

.big-btn {
  .btn(transparent, white, 3px solid @Snow, 2rem);
}
